
.background {
  display: inline-block;
  align-items: center;
}

/* effect-shine */
a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

/*effect-underline*/
a.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

a.effect-underwave {
  border-bottom: 1px solid white;
  color: white;
  padding-bottom: .25em;
  text-decoration: none;
}

a.effect-underwave:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  color: white;
  text-decoration: none;
}


/*effect-stretch*/
a.effect-stretch {
  letter-spacing: 0.5px;
  font-family: Arial, Helvetica, sans-serif;
}

a.effect-stretch:hover,
a.effect-stretch:active {
  letter-spacing: 5px;
}

a.effect-stretch:after,
a.effect-stretch:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

a.effect-stretch:hover:after,
a.effect-stretch:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

a.effect-stretch:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}


/*profile introduction section*/
.image-cropper-circle {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  z-index:2;
}

.profile-pic {
  height: 100%;
  width: 100%;
  margin:auto;
}

.profile-pic-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 8%;
  padding-bottom: 2%;
}

.introduction-wrapper {
  padding-top: 1%;
  padding-bottom: 1%;
}















