.header-cropper {
    height: 100px;
    width: auto;
    overflow: hidden;
    z-index:2;
}

.image-cropper-block {
    height: 300px;
    width: auto;
    max-width: 450px;
    overflow: hidden;
    /*border-radius: 50%;*/
    z-index:2;
}

.text-box {
    line-height: 30px;
}

.br-title {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 15px; /* change this to whatever height you want it */
}